/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: $primary-color;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: $brand-font-family;

    &,
    &:visited {
        color: $brand-font-color;
    }
    
    img {
        max-height:40px;
        margin-right:5px;
    }
    @include media-query($on-palm) {
        font-size: 24px;
        img {
            max-height:30px;
            margin-right:3px;
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $brand-font-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    .page-link.active {
        border-bottom: 2px solid #ffffff;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link, .page-link.active {
            display: block;
            padding: 5px 10px;
            color: $base-color;
        }
    }
}

ul li {
  list-style-type: square;
}

.sub-nav li, .contact-list li, .social-media-list li {
  list-style-type: none;
}

.img-caption-wrapper {
  display: block;
  width: 500px;
  float: left;
  overflow: hidden;
  box-shadow: 0 0 6px #666666;
  margin: 0px 20px 20px 0px;
  span.caption {
    font-size:0.8em;
    background-color: #eeeeee;
    opacity: 0.8;
    font-size: 0.7em;
    padding: 6px;
    width: 100%;
    display: block;
    font-style: italic;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content, .post-content {
    padding: 0 0 $spacing-unit 0;
    &.home {
      max-width: 900px;
      padding: 0 0 30px;
      margin: 0 auto 0 auto;
      h1 {
        font-family: "Signika","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: $base-color;
        padding: 15px 0px 15px 0px;
        font-size:72px;

        @include media-query($on-palm) {
            margin-top:5px;
            font-size:40px;
        }
      }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 20px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
h1 {
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: $spacing-unit;
    font-size:60px;
    margin-top:60px;
    color: $base-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
    @include media-query($on-palm) {
        margin-top:5px;
        font-size:30px;
    }
}

.post-content, .page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-style: italic;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    .post {
      ul, ol {
        clear: both;
      }
    }
}

.posts {
  h2 {
    margin-bottom: 0px;
  }
  h4 {
    font-style: normal;
    font-weight: normal;
    color: #666666;
  }
}

nav.sub-nav {
    ul {
        margin-left: 0px;
        margin-right:10px;
        li, ol li, ul li {
            margin-left:10px;
            a {
              padding:2px;
            }
            a.active {
              color: #000000;
              text-decoration: none;
            }
        }
        ol, ul {
            margin-left: 20px;
        }
        ul li {
          list-style-type: square;
        }
        ol li {
          list-style-type: number;
        }
    }
    width:20%;
    float:left;
    ul li.sub-nav-header {
        margin-left:0px;
    }
}
.post-content-sub-nav {
    width: 80%;
    float:left;
}

/* AnchorJS links */

.anchorjs-link {
  color: inherit !important;
  text-decoration: none !important; // do not underline
}

@media (max-width: 768px) {
  // do not display AnchorJS icon on less than 768px view point
  .anchorjs-link {
    display: none;
  }
}

*:hover > .anchorjs-link {
  opacity: .75;
  // To fade links as they appear, change transition-property from 'color' to 'all'
  transition: all .16s linear;
}

*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
  text-decoration: none !important; // do not underline
  opacity: 1;
}

#markdown-toc {
  border: 1px solid #eeeeee;
  padding: 8px;
  float: right;
  li {
    list-style-type: none;
    font-size: 1rem;
  }
  ul {
    margin-left: 15px;
    li {
        font-size: 0.9rem;
        list-style-type: square;
    }
  }
}

hr {
  width: 50%;
  color: #666666;
  clear: both;
  margin: 10px auto;
  border: 0;
  color: #eeeeee;
  background-color: #eeeeee;
  height: 2px;
}
hr.hidden {
  visibility: hidden;
}